{
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser":  true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "rules": {
    "no-param-reassign": 0,
    "no-console": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "no-bitwise": 0,
    "max-len": 0,
    "no-continue": 0,
    "no-cond-assign": 0,
    "no-plusplus": 0,
    "no-use-before-define": 0,
    "lines-between-class-members": 0,
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-var-requires": 0
  }
}
